    <nav class="navbar menu navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand menu-header" href="#">班级博客</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
           <%
            if (!login) {
          %>
          <ul class="nav navbar-nav navbar">
            <li <%if(active=='index'){%> class="active" <%}%> ><a href="/">首页<span class="sr-only">(current)</span></a></li>
            <li <%if(active=="成员列表"){%> class="active" <%}%>><a href="/userlist">成员列表</a></li>
            <li><a href="/">关于</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li <%if(active=='登录'){%> class="active" <%}%>><a href="/login">登录</a></li>
            <li <%if(active=='注册'){%> class="active" <%}%>><a href="/regist">注册</a></li>
          </ul>
          <%
            } else {
          %>
          <ul class="nav navbar-nav navbar">
            <li <%if(active=='index'){%> class="active" <%}%> ><a href="/">全部说说<span class="sr-only">(current)</span></a></li>
            <li <%if(active=="我的主页"){%> class="active" <%}%> ><a href="/user/<%= username %>">我的主页</a></li>
            <li <%if(active=="成员列表"){%> class="active" <%}%>><a href="/userlist">成员列表</a></li>
            <li><a href="/">关于</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a>欢迎您！<%=username%></a></li>
            <li><a href="">资料设置</a></li>
          </ul>
          <%
            }
          %>
      </div>
    </nav>